

body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    /* @media screen and (max-width: 600px) {
    #banner {
      width: 100px;
    }
  } */



  #banner {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 666px;
    
  }
  
  #instructions {
    background-color: white;
    text-align: center;
    width: 705px
    
  }


  #foodBoxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
  }
  
  .foodBox {
    max-width: 200px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 12px;
  }
  
  .foodBox img {
    max-width: 100%;
    max-height: 250px;
    margin-bottom: 10px;
    
  }
  
  #calorieCount {
    text-align: center;
    margin-top: 10px;
    
  }
  
  #statusBox {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    font-weight: bold;
    
  }
  
  .statusRed {
    background-color: red;
    color: white;
    width: 680px
  }
  
  .statusYellow {
    background-color: yellow;
    color: black;
    width: 680px
  }
  
  .statusGreen {
    background-color: green;
    color: white;
    width: 680px
  }
  
  button {
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 12px;
    
    
    
  }
  
  
  #calculateRemainingWeight { 
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: 0px;
    padding: 10px;
    width: 680px;
    margin-bottom: 10px;
    
  }

